.item {
  padding: 8px 8px 16px;
  width: 20%;
  box-sizing: border-box;

  @media (max-width: 740px) {
    width: 50%;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__image-wrapper {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
  }
}